/* *{
    box-sizing: border-box;
    margin: 0;
} */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 85px;
 background-image: url("../image/home/navBackground.png");
  background-position: center center;
  background-size: cover;
  border-bottom: 1px solid white;
  color: white;
  position: fixed;
  z-index: 2;

}
.logo{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.logo .logo-0{
    width: 55px;
    height: 50px;
}
.logo .logo-02{
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-weight: 600;
    color: white;
    font-family: sans-serif;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: none;
    animation: animate 3s linear infinite;

 }
 @keyframes animate
  {
   0%,18%,20%,50.1%,60%,65.1%,80%,90%,92.1%,92% 
   {
     color: blueviolet;
     text-shadow: none;
   } 18%,20%,30%,50.1%,60%,65.1%,80%,90%,92.1%,100%{
     color: #fff;
     text-shadow: 0 0 10px blueviolet,
     0 0 20px blueviolet,
     0 0 40px blueviolet,
     0 0 80px blueviolet,
     0 0 160px blueviolet,

   }

 }
.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    

}

.home,
.seller-tv,
.seller-print,
.web-services,
.contacts{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: 600;
    cursor: pointer;
}
.home:hover,
.seller-tv:hover,
.seller-print:hover,
.web-services:hover,
.contacts:hover{
   border-bottom: 2px solid white;
   color: orange;
}
.mobile-menu-icon{
    display: none;
}
@media screen and (max-width: 780px){
    
    .logo{
        display: flex;
        position: absolute;
        top: 10px;
        left: 20px;
        
    }
    .logo .logo-0{
        width: 50px;
        height: 45px;
        background: none;
    }
    .logo .logo-02{
        font-size: 1.3rem;
        letter-spacing: 1px;
        font-weight: 550;
    }
    .nav-links{
        display: none;
    }
    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-in-out;
        width: 100%;
        height: 100vh;
        z-index: 2;
        background-image: url("../image/home/navBackground.png");
  background-position: center center;
  background-size: cover;
    }
    .nav-links-mobile li{
        margin: 10px 0;
    }
    .home,
    .seller-tv,
    .seller-print,
    .web-services,
    .contacts{
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }
    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background: none;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;

    }
}