
/* START AFTER NAVBAR................ */

.after-nav-kok{
    background-image: url("../image/home/navBackground.png")  ;
   width: 100%;
   height: 100vh;
    background-position: center center;
    background-size: cover;
    padding: 20px 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.after-nav-kok h2{
font-weight: 700;
font-size: 50px;
line-height: 60px;
text-align: center;
color: #FFFFFF;
}
.after-nav-kok p{
    font-weight: 300;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
margin: 50px 0;
}
/* END AFTER NAVBAR................ */

/* PRINT QUOTE........................ */
.print-quote{
    width: 100%;
    text-align: center;
    height: 200px;
    padding: 20px 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.print-quote span{
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}
/* ENDPRINT QUOTE........................ */

/* PRINT CONTENT....................... */
.contents{
    display: flex;
    gap: 30px;
    padding: 50px 50px;
    background: #701D9D;
}
.img-content{
    flex: 1;
}
.img-content img{
    width: 100%;
    height: 800px;
    cursor: pointer;
    border-radius: 10px;
}
.write-up-content{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    flex: 1;
}
.write-up-content p{
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;   
    color: #FFFFFF;
}
.write-img img{
   width: 100%;
   height: 520px;
   cursor: pointer;
   border-radius: 10px;
}
.write-up{
    flex: 1;
}


/* END PRINT CONTENT....................... */

/* SEND US MESSAGE............ */
.send-message{
    display: flex;
    gap: 50px;
    padding:70px 50px;
}
.message-img{
    flex: 1;
}
.message-img img{
    width: 100%;
    height: 700px;
    padding: 20px;
    cursor: pointer;
}
.message-write{
    flex: 1;
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message-write span{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 2rem;
}
.hero-centerr a{
    background: #FB7E00;
    border-radius: 10px;
    padding: 16px 30px;
    text-decoration: none;
    color: #FFFFFF;
    width: 100%;
    height: 62px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.hero-centerr a:hover{
    background: none;
    text-decoration: none;
    color: #701D9D;
    border-bottom: 2px solid orange;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 0;
}

/* SEND US MESSAGE............ */

/* printing................ */

.print-quoter{
    width: 100%;
    text-align: center;
    height: 200px;
    padding: 20px 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.print-quoter span{
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}
/* END printing................ */
/* PRINTONG SECTION */
.print-sec{
    display: flex;
    gap: 30px;
    padding: 20px 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.print-contentt{
    padding: 30px 20px;
    flex: 1;
    border: 2px solid black;
    height: 430px;
    border-radius: 10px;
}
.print-contentt span{
    font-weight: 600;
    font-size: 20px;
    line-height: 52px;
    color: #000000;
}
.print-contentt p{
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    color: #000000;
}
/* END PRINTONG SECTION */
/* start mail................ */

.mail-section{
    background: #701D9D;
    padding: 40px 10px;
}
.mail{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
 padding: 50px 100px;
gap: 30px;
}
.mail span{
font-weight: 500;
font-size: 48px;
line-height: 72px;
text-align: center;
color: #FFFFFF;

}
.mail a{
         
  }
  .mail a:hover{
    background: white;
    color: #701D9D;
    border-bottom: 5px solid wheat;    
    font-weight: 600;
  }

/* END MAIL AREA............. */


@media only screen and (max-width: 450px){

    /* PRINT QUOTE........................ */
.print-quote{
    height: 280px;
    padding: 20px 10px;
  
}
.print-quote span{
    text-align: left;
    font-size: 20px;
  
}
/* ENDPRINT QUOTE........................ */

    .contents{
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 50px 20px;
    }
    .contents img{
       width: 100%;
       height: 100%;
       
    }
   
    .write-up-content{
        padding-top: 20px;
    }
    .write-up-content p{
        font-weight: 400;
        font-size: 15px;
        line-height: 40px;   
        color: #FFFFFF;
    }
    .send-message{
        flex-direction: column;
        padding: 20px 20px;
        gap: 20px;
    }
   
    .send-message img{
        width: 100%;
        height: 100%;
    }
    .send-message span{
       font-size: 15px;
    }
    .message-img img{
        padding: 0;
    }
    .message-write .hero-centerr{
        display: none;
    }
    /* printing................ */

.print-quoter{
    height: 100%;
    padding: 10px 20px;
}
.print-quoter span{
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    text-align: left;
}
/* END printing................ */
.print-sec{
    flex-direction: column;
    padding: 10px 15px;
    gap: 20px;
}
.print-contentt{
    width: 100%;
    height: 100%;
  
}
.print-contentt p{
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    text-align: left;
}
}
@media screen and (min-width: 768px) and (max-width: 1100px){
    /* PRINTONG SECTION */
.print-contentt{
   
    height: 100%;
}

/* END PRINTONG SECTION */
.after-nav-kok{
 
    padding: 20px 50px;

}
}