
/* START AFTER NAVBAR................ */

.close-seller-tv{
    
    overflow: hidden;
}

.after-nav-koks{
    background-image: url("../image/home/navBackground.png")  ;
   width: 100%;
   height: 100vh;
    background-position: center center;
    background-size: cover;
    padding: 20px 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.after-nav-koks h2{
font-weight: 700;
font-size: 50px;
line-height: 60px;
text-align: center;
color: #FFFFFF;
}
.after-nav-koks p{
    font-weight: 300;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
margin: 50px 0;
}
/* END AFTER NAVBAR................ */

/* START SOCIAL ACTIVITIES................. */
.social-act  .h-1 {
    background-color: #FFFFFF;
    height: 200px;
   
}
.social-act  .h-1 {
    overflow: hidden;
}
.social-act  .h-1 h1{
font-weight: 700;
font-size: 60px;
line-height: 80px;
color: #000000;
padding: 50px;
}
.activities{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.activity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   margin: 10px auto;
    gap: 50px;
    padding:70px 50px;
    height: 100%;
}
.activity-1{
    background: #F6F6F6;
    width: 100%;

}
.detial-1{
    flex: 1;
}
.detial-img{
    flex: 1;
}
.detial-img img{
    width: 550px;
    height: 350px;
    cursor: pointer;
}
.detial-1 span{
    font-weight: 700;
    font-size: 25px;
    line-height: 70px;
    color: #333333;
}
.detial-1 p{
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    color: #333333;
}
.detial-1 a{
    text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #701D9D;
  padding: 10px;
  
  box-shadow: inset 0 0 0 0 #54b3d6;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.detial-1 a:hover{
    box-shadow: inset 230px 0 0 0 black;
    color: white;
  
}
.prodacst-but{
    margin-top: 2rem;
}
/* END SOCIAL ACTIVITIES................. */

/* START MOVIE COMMUNITY...................... */
.movie-community{
    background: #F6F6F6;
    width: 100%;
    display: none;
}
.movie-comm{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
    height: 400px;
    overflow-x: hidden;
    gap: 30px;
    width: 100%;
}
.movie-1{
    flex: 1;
    justify-content: center;
    
  
}
.movie-1 span{
    font-weight: 600;
    font-size: 36px;
    line-height: 90px;
    color: #000000;
}
.movie-1 p{
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    color: #333333;
}
.movie-img{
    flex: 2;
    display: flex;
    gap: 20px;
   
}
.movie-img img:hover{
      box-shadow: var(--box-shadow);
    transform: scale(1.1);
   
}
.img-1 img{
    width: 250px;
    height: 100%;
    cursor: pointer;
}
.img-2 img{
    width: 300px;
    height: 100%;
    cursor: pointer;
}
.img-3 img{
    width: 250px;
    height: 100%;
    cursor: pointer;
}

.slider-movie{
    text-align: center;
   padding: 20px 150px;
   background: #F6F6F6;
}
/* END MOVIE COMMUNITY...................... */


/* start advert-promotion */
.advert-promotion{
    align-items: center;
    text-align: center;
    background: #F6F6F6;
    padding: 50px 60px;   
}
.advert-promotion h2{
    color: #701D9D;
    padding: 20px;
    font-size: 25px;
}
.advert-promotion p{
    color: #333333;
    padding: 10px;
    line-height: 30px;
}
/* TRAINING EVENTS........................... */
.training-event{
    padding: 20px 50px;
   
}
.training-sec{
    background: #F6F6F6;
    padding: 50px 10px;
}
.training-event h2{
font-weight: 600;
font-size: 36px;
line-height: 70px;
color: #000000;
}
.training-event p{
font-weight: 100;
font-size: 15px;
line-height: 35px;
color: #333333;
padding-right: 150px;
margin-bottom: 50px;
}
.traing-flex{
    display: flex;
    gap: 10px;
}
.pic-1{
    flex: 1;
}
.pic-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pic-1 img{
    width: 600px;
    height: 420px;
    border-radius: 10px;
    cursor: pointer;
}
.pic-2 img{
    width: 550px;
    height: 205px;
    border-radius: 10px;
    cursor: pointer;
}

/* END */

/* START RED CARPET */

.red-carpet{
    padding: 30px 50px;
    background: #701D9D;
}
.red-carpet .red-tit{
    font-size: 20px;
    color: white;
    line-height: 30px;
}
.red-carpet .red-tit span{
    font-size: 25px;
    padding-right: 10px;
    color: antiquewhite;
    font-weight: 600;
}

.red-text{
    margin: 30px auto;
    padding:10px 3rem ;
}
.red-text div{
   
    padding: 40px;
    background: #FBFBFB;
    border: 2px solid #D6D6D6;
    border-radius: 20px;
}
.red-text div p{
   margin-bottom: 15px;
   font-size: 16px;
   font-weight: 600;
   line-height: 30px;
   color: black;
   opacity: 0.7;
}
.red-text div span{
   position: relative;
   top: 1rem;
   font-size: 18px;
   color: black;
   opacity: 0.6;
}

/* END START RED CARPET */

/* START BRAND COLLABORATION */
.brand-colla{
    padding: 40px;
}
.brand-colla .brand-colla-tit{
    padding: 10px 30px;
}
.brand-colla .brand-colla-tit h2{
    color: #701D9D;
    font-size: 25px;
    line-height: 20px;
    margin: 30px 0;
    text-align: center;
}
.brand-colla .brand-colla-tit p{
    color: black;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    text-align: center;
}
.brand-colla-box{
    display: flex;
    gap: 30px;
    padding: 30px;
}
.brand-colla-box .colla-box{
    flex: 1;
    background: #FBFBFB;
    border-bottom: 2px solid  #FB7E00;
    border-radius: 15px;
    padding: 10px 30px;
}
.brand-colla-box .colla-box h3{
   color: #701D9D;
   margin: 2rem auto;
   font-size: 20px;
   font-family: serif;
}
.brand-colla-box .colla-box li{
    font-size: 16px;
    color: black;
    opacity: 0.8;
    margin: 30px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.brand-colla-box .colla-box span{
    font-size: 16px;
    font-weight: 600;
    color: black;
    opacity: 1;
    margin-right: 15px;
    font-family: sans-serif;
}
.brand-colla .colla-note{
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.brand-colla .colla-note span{
    color: red;
    font-size: 13px;    
}
.brand-colla .colla-note p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
}

/*END START BRAND COLLABORATION */

/* TRAINING EVENTS........................... */
.upcoming-event{
    padding: 20px 50px;
    width: 100%;
}
.upcoming{
width: 100%;
height: 700px;
background: #FFFFFF;
border-radius: 20px;
padding: 30px;
}
.event-area{
width: 100%;
height: 500px;
background: black;
border-radius: 20px;
}
.event-area img{
    width: 100%;
height: 500px;
border-radius: 20px;
cursor: pointer;
}
.upcoming h3{
font-weight: 600;
font-size: 30px;
line-height: 65px;
color: #000000;
}
.upcoming a{
    text-decoration: none;
    color: #701D9D;
}
@media only screen and (max-width: 450px){
    /* /////////////// */
    .slider-movie{
       display: none;
    }

  
    /* /////////////// */
    .social-act  .h-1 {
        background-color: #FFFFFF;
        height: 100px;
        display: flex;
        justify-content: center;
       
    }
    .social-act  .h-1 h1{
   
    font-size: 20px;
    line-height: 40px;
    padding:20px;
    }
    .activity{
        flex-direction: column;
        padding:10px 20px;
        
        
    }
    .activity-1{
        background-color: white;
    }
    .activity-2{
        flex-direction: column-reverse;
    }
    .activities{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .detial-img img{
        width: 100%;
        height: 100%;
    }

    .movie-comm{
        width: 100%;
        flex-direction: column;
        padding: 20px 20px;
        height: 100%;
        gap: 30px;
    }
    .movie-1{
        flex: 1;
    }
    .movie-1 span{
        font-weight: 600;
        font-size: 30px;
        line-height: 50px;
        color: #000000;
    }
    .movie-img{
        flex-direction: column;
        flex: 1;  
        gap: 20px;
    }
    .img-1 img{
    height: 200px;
    width: 100%;


    }
    .img-2 img{
        height: 250px;
        width: 100%;
    }
    .img-3 img{
        height: 250px;
        width: 100%;
    }
    .traing-flex{
        flex-direction: column;
    }
    .traing-flex img{
        width: 100%;
        height: 100%;
    }
    .training-event{
        padding: 20px 20px; 
    }
    .training-event p{
        padding-right: 0;
      
        }
        .training-event h2{
            font-weight: 600;
            font-size: 25px;
            line-height: 60px;
            color: #000000;
            }
        .upcoming-event{
            padding: 20px 10px;
           
        }
        .upcoming{
        padding: 10px;
        width: 100%;
        height: 100%;
        }
        .upcoming h3{
            font-weight: 600;
            font-size: 20px;
            line-height: 50px;
            color: #000000;
            }
            .event-area{
                width: 100%;
                height: 100%;
                background: black;
                border-radius: 10px;
                }
                .event-area img{
                    width: 100%;
                height: 100%;
                border-radius: 10px;
                }
}
@media screen and (min-width: 768px) and (max-width: 1100px){
    
    .traing-flex img{
        width: 100%;
    }
    .after-nav-kok h2{
        font-weight: 700;
        font-size: 30px;
        line-height: 50px;
        text-align: center;
        color: #FFFFFF;
        }
        .after-nav-kok p{
            font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        margin: 30px 0;
        }
        .detial-img img{
            width: 100%;
        }
        .movie-img img{
            width: 100%;
        }
       
}