/* START AFTER NAVBAR................ */

/* END AFTER NAVBAR................ */

/* PRINT QUOTE........................ */
.print-quotes{
    width: 100%;
    text-align: center;
    height: 200px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.print-quotes span{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    color: #333333;
    flex: 2.5;
}
/* ENDPRINT QUOTE........................ */
/* FORM SECTION...................... */
.form-sec{
    display: flex;
    padding: 10px 40px;
    gap: 30px;
}
.form-sec .inputs {
    display: flex;
}

.form-sec .inputs input{
    width: 400px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #000000;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    border-radius: 5px;
    margin: 17px 20px;
    display: block;
}
.form-sec label{
    font-weight: 550;
    font-size: 15px;
    line-height: 35px;
    color: #000000;
    display: block;
}
.form-sec form{
    flex: 2.5;
}
.form-sec form button{
    background: #701D9D;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 20.9365px;
    line-height: 20px;    
    color: #FFFFFF;
    cursor: pointer;
}
.form-sec form textarea{
    background: #FFFFFF;
    border: 1px solid #000000;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.form-sec .text-only{
    flex: 1;
    background: #F6F6F6;
border: 1px solid #701D9D;
border-radius: 20px;
padding: 20px;
width: 100%;
height: 100%;
}
.form-sec .text-only span{
font-weight: 400;
font-size: 20px;
line-height: 45px;
color: #333333;
}

/*END FORM SECTION...................... */

/* ADRRESS AREA......................... */
.contact-address .addresses{
    display: flex;
    gap: 30px;
    padding: 50px;

}
.contact-address .addresses .address{
   flex: 1;
   padding: 40px 20px;
   background: #FFFFFF;
border: 1.40468px solid #A068BE;
border-radius: 30px;
display: flex;
flex-direction: column;
gap: 20px;
}
.contact-address .addresses .address span{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;    
    color: #000000;
}
.contact-address .addresses .address p{
font-weight: 500;
font-size: 15px;
line-height: 24px;
color: #000000;
}
.contact-address .addresses .address a{
font-weight: 600;
font-size: 15px;
line-height: 24px;
color: #701D9D;
text-decoration: none;
}
.contact-address .addresses .address a:hover{
   
    border-bottom: 2px solid #333333;
    max-width: 100%;
    width: 50%;  
}
/* END ADRRESS AREA......................... */
@media only screen and (max-width: 450px){
    .form-sec{
        display: flex;
        padding: 10px 40px;
        gap: 30px;
        flex-direction: column;
        padding: 10px 20px;
    }
    .form-sec .inputs {
        display: flex;
        flex-direction: column;
    }
    .contact-address .addresses{
        display: flex;
        gap: 30px;
        padding: 20px;
        flex-direction: column;
    
    }
        /* PRINT QUOTE........................ */
.print-quotes{
    height: 200px;
    padding: 20px 20px;
  
}
    .print-quotes span{
      font-size: 20px;
      line-height: 35px;
      text-align: left;
    }
    .form-sec .inputs input{
        width: 100%;
        height: 45px;
        
        font-size: 15px;
        font-weight: 400;
        padding: 10px;
       
        margin: 10px 0;
    }

}

@media screen and (min-width: 768px) and (max-width: 1100px){
    .form-sec{
        display: flex;
        padding: 10px 40px;
        gap: 30px;
        flex-direction: column;
        
    }
    .contact-address .addresses{
        display: flex;
        gap: 20px;
        padding: 20px;
    
    }
}