
  .home-page{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
   
  }
  /* //////// */
  .hero-center a{
    background: #FB7E00;
    border-radius: 10px;
    padding: 16px 10px;
    text-decoration: none;
    color: #FFFFFF;
    width: 180px;
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
  }
  .hero-center a:hover{
    background: white;
    color: #000000;
  }
  
  .nav-area{
    background-image: url("../image/home/Background.png")  ;
   width: 100%;
   height: 100vh;
    background-position: center center;
    background-size: cover;
    
    }
  
  .hero-h2{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding-top: 70px;
  }
  
  .hero-h2 p{
  font-weight: 200;
  font-size: 15px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.8;
  }
  .hero-center{
    display: flex;
    flex-direction: column;
    width:50%;
    padding:100px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .hero-center h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    color: #FFFFFF;
  }
  
  
  /* VISION AREA........ */
  .vision{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 60px 50px;
    gap: 20px;
   
  }
  .text-vision{
  flex: 1;
  padding:0 2rem;
  }
  .text-vision span{
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #701D9D;
  }
  .text-vision h3{
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  color: #333333;
  }
  .text-vision p{
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  color: #333333;
  }
  .text-vision a{
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #701D9D;
  padding: 10px;
  margin-top: 2rem;
  box-shadow: inset 0 0 0 0 #54b3d6;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  .text-vision a:hover{
    box-shadow: inset 160px 0 0 0 black;
    color: white;
  
  }
  .text-vision .learn-more{
  margin-top: 2rem;
  }
  .img-vision{
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .img-vision img{
  width: 450px;
  height: 500px;
  
  }
  .img-about img{
    width: 600px;
    height: 450px;
    }
  .arrow{
   margin-left: 0.5rem; 
  }
  /* END VISION AREA......... */
  
  /* AD BOXES....... */
  .ad-boxx{
    display: flex;
    gap: 30px;
    margin: 50px 20px;
  }
  .ad-boxxes{
    padding: 20px 150px;
    width: 100%;
  }
  .boxx{
    padding: 50px 20px;
    width: 100%;
    height: 350px;
    flex: 1;
    position: relative;
    background: #FBFBFB;
  border: 2px solid #D6D6D6;
  border-radius: 40px;
  cursor: pointer;
  }
  .boxx:hover{
    box-shadow: 0px 10px 30px rgba(57, 56,61,0.205);
  }
  .boxx .margin-topp{
    padding-top: 1.5rem;
  }
  .boxx .circle{
   background-color: #701D9D;
   position: absolute;
   top: -30px;
   left: 50px;
   height: 70px;
   width: 70px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   cursor: pointer;
   
  }
  .boxx .orange{
   background-color: orange;
   
  }
  .boxx .orange p:hover{
   color: black;
   
  }
  .boxx .circle p{
    color: white;
    font-size: 25px;
    font-weight: 600;
   
  }
  .boxx span{
  font-weight: 800;
  font-size: 20px;
  line-height: 50px;
  color: #16061F;
  
  }
  .boxx p{
    font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #16061F;
  }
  
  /* END SERVICE AREA............... */
  
  /* START CONTTACT AREA.............. */
  .contact{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 80px 0;
  }
  .contact-link{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .social-flex{
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .sponsor-write{
    font-weight: 600;
    font-size: 35px;
    line-height: 55px;
  }
  .social-flex a{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 48px;
    color: #333333;
    margin: 50px;
  }
  .social-flex a img{
    height: 30.062889099121094px;
    width: 30.0625px;
    margin: 0 10px;
  
  }
  .h-2{
    max-width: 100%;
    width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;

  }
  .cont-button{
    background: #FB7E00;
    border-radius: 10px;
    padding: 16px 30px;
    text-decoration: none;
    color: #FFFFFF;
    width: 261px;
    height: 72px;
    position: relative;
  
  }
  .cont-button:hover{
    background: none;
    text-decoration: none;
    color: #701D9D;
    border-bottom: 2px solid orange;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 0;
   
  
  }
  
  /* END CONTACT AREA................. */
  
  /* START ADVERT AREA.................. */
  .advert{
    background: #701D9D;
    padding: 2.5rem 0;
    margin: 100px 50px;
    border-radius: 30px;
  }
  .advert h1{
   text-align: center;
   font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #D5D5D5;
  }
  .advert-content{
    display: flex;
    gap: 20px;
    padding: 20px 50px;
  }
  .ad-detials{
    padding:10px 5px;
    flex: 1;
  }
  .ad-detials img{
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    }
  .ad-detials video{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
    }
  .ad-detials span{
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 50px;
  color: #D5D5D5;
  }
  .ad-detials p{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #D5D5D5;
    }
  
    /* END ADVERT AREA............ */
  
    /* START BLOG AREA................... */
  
  .blog{
    padding: 20px 50px;
  }
    .blog-title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0;
        gap: 36px;
    }
    .blog-title h2{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 55px;
    color: #000000;
    }
    .blog-title p{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    }
    .adverting{
        display: flex;
        gap: 20px;
        padding: 20px 0;
    }
  .black-tit span{
  color: #000000;
  }
  .black-tit p{
    color: #000000;
  }
  
  .ad-detials{
    position: relative;
  }
  .ad-detials a{
    position: absolute;
    
  }
  
  
  /* start mail................ */
  
  .mail-sectionss{
    background: #701D9D;
    padding: 10px 10px;
  }
  .mailss{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 100px;
  gap: 30px;
  }
  .mailss .mail-span{
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  color: white;
  padding: 10px 50px;
  
  }
  .mailss a{
    background: #FB7E00;
    border-radius: 10px;
    padding: 16px 20px;
    text-decoration: none;
    color: #FFFFFF;
    width: 250px;
    height: 65px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;      
  }
  .mailss a:hover{
    background: white;
    color: #701D9D;
    border-bottom: 5px solid wheat;    
    font-weight: 600;
  }
  
  /* END MAIL AREA............. */
  
  /* START FAQ AREA................ */
  
  .faq{
    text-align: center;
    padding: 50px 150px;
  }
  .faq h3{
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    color: #333333; 
    margin: 40px 0;
  }
  
  /* END FAQ AREA................ */
  
  /* START FOOTER AREA...... */
  footer{
    
  background: #F6F6F6;
  }
  .close-foot{
    display: flex;
    padding: 40px;
    gap: 70px;
   
  }
  .foot-1, 
  .foot-2, 
  .foot-3{
    flex: 1;
  }
  .close-foot .foot-1 div{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .foot-1 .img-foot .foot-logo{
    position: relative;
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: 600;
    color: black;
    font-family: sans-serif;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: none;
    animation: animatee 3s linear infinite;
  }
  @keyframes animatee
  {
   0%,18%,20%,50.1%,60%,65.1%,80%,90%,92.1%,92% 
   {
     color: blueviolet;
     text-shadow: none;
   } 18%,20%,30%,50.1%,60%,65.1%,80%,90%,92.1%,100%{
    color: #FB7E00;
     text-shadow: 0 0 10px blueviolet,
     0 0 20px blueviolet,
     0 0 40px blueviolet,
     0 0 80px blueviolet,
     0 0 160px blueviolet,

   }

 }
  .foot-1 p{
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  padding: 20px 0;
  }
 
  .social-icon img{
    width: 25px;
  }
  .close-foot .foot-2{
    display: flex;
    gap: 40px;
  }
  .foot-2 .home-color{
    color: #FB7E00;
    
  }
  li{
    list-style: none;
  }
  li a{
    text-decoration: none;
    line-height: 50px;
    color: #000000;
  }
  .foot-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
  }
  .foot-3 div{
  font-weight: 400;
  font-size: 15px;
  line-height: 60px;
  color: #333333;
  }
  .cont{
    display: flex;
    align-items: center;
   gap: 10px; 
  }
  
  @media only screen and (max-width: 480px){
    .hero-h2{
        padding-top: 90px;
       
        
      }
      
    .continer-close{
        display: flex;
        flex-direction: column;
        
    }
    .logo-sec{
        display: flex;
    }
    .menu-icon{
        display: block;
        
    
    }
    .ml-left{
       margin-left: 7rem;
    }
    
    .nav-sec{
        display: flex;
       flex-direction: column;
       gap: 50px;
       margin: 30px 0;
       margin-right: auto;
    }
    .nav-link{
        display: none;
    }
    .nav-sec a{
        text-align: left;
        font-weight: 600;
        
      
    }
    .nav-sec a:hover{
        border-bottom: 1px solid white;
        width: 100%;
        padding: 5px;
        cursor: pointer;
    }
    .sizing{
        width: 30px;
        height: 20%;
    }
    .size-sell{
        width: 130px;
    }
  
    .nav-area{
        background-image: url("../image/home/Hero.png")  ;
        width: 100%;
        height: 700px;
        background-position: center center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
        }
        .hero-center{
            width:100%;
            padding: 80px 10px;
            text-align: center;
            align-items: center;
            gap: 20px;
        }
        .hero-center h2{
          font-size: 20px;
          line-height: 30px;
          text-align: left;
        }
        .hero-h2 p{
          
          font-size: 15px;
          line-height: 28px;
          text-align: left;
          }
          .hero-center a{
            background: #FB7E00;
            border-radius: 5px;
            padding: 16px 0;
            width: 150px;
            height: 50px;
            font-size: 15px;
            
          }
          .hero-center{
            text-align: left;
            align-items: flex-start;
            justify-content: center;
            
          }
          
       
        
  .vision{
    display: flex;
    flex-direction: column;
        margin: 60px 20px;
   
  }
  
  .img-about img{
    width: 100%;
    height: 100%;
    }
  .first-box{
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  .service-box{
    width: 100%;
  }
  .contact{
    margin: auto;
  }
  .contact span{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  .soc-media{
    display: flex;
  }
  .contact-link{
    flex-direction: column;
  }
  .h-2{
    flex-direction: column;
  }
  .advert-content{
    flex-direction: column;
  }
  .blog-title{
    flex-direction: column;
  }
  .advert{
    background: #701D9D;
    padding: 2.5rem 0;
    margin: 100px 0;
    border-radius: 0;
  }
  .adverting{
    flex-direction: column;
  }
  .advert-content{
    
    padding: 20px 10px;
  }
  .ad-detials img{
    width: 100%;
    height: 100%;
  }
  .ad-detials span{
    font-weight: 600;
    font-size: 20px;
    line-height:50px;
    color: #D5D5D5;
    }
    .ad-detials p{
      font-weight: 0;
      font-size: 15px;
      line-height: 30px;
      color: #D5D5D5;
      }
  .foot-1,
  .foot-2,
  .foot-3{
    flex-direction: column;
  }
  .foot-1 .img-foot .foot-logo{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 550;
  }
  .close-foot{
    flex-direction: column;
    padding: 40px 20px;
    gap: 30px;
  }
 
  .img-vision img{
    width: 100%;
    height: 100%;
    }
    .service-box{
        max-width: 100%;
        max-height: 100%;
        width: 470px;
        height: 100%;
        padding: 20px 20px;
        background: #F6F6F6;
    }
    .box-2{
        background: #F6F6F6;
    }
    .service-box img{
        width: 100%;
        max-height: 100%;
        height: 35%;
    }
    .service-box a{
      margin-top: 20px;
     
    }
    .second-box .box-1{
        background: #F6F6F6;
        
    }
    .box-1 h2{
       
        color: #333333;
    }
    .box-1 p{
        color: #333333;
    }
    .second-box .box-2{
        background: #F6F6F6;
    }
    .second-box .box-2 h2{
        color: #333333;
    }
    .second-box .box-2 p{
        color: #333333;
    }
    .mail-sectionss .mailss span{
        font-weight: 400;
        font-size: 20px;
        line-height: 42px;
        
        }
        .mail-sectionss .mailss{
            padding: 10px;
        }
        .social-flex a{
            font-weight: 500;
            font-size: 15px;
            line-height: 38px;
            color: #333333;
            margin: 40px 0;
        }
        .social-flex a img{
            height: 25.062889099121094px;
            width: 25.0625px;
            margin: 0 10px;
        }
        .text-vision{
          
            padding:0 0.5rem;
            }   
            
            .text-vision a{
            line-height: 70px;
            }
            .text-vision p{
              font-weight: 100;
              font-size: 15px;
              line-height: 35px;
              color: #333333;
              }
              
            .swamp{
                display: flex;
                flex-direction: column-reverse;
            }
            .cont-button{
                display: none;
            }
  
            /* //////////////////// */
            .ad-boxxes{
                padding: 20px 10px;
                width: 100%;
            }
            .ad-boxx{
                flex-direction: column;
            }
            .faq{
                
                padding: 50px 20px;
              }
              .boxx .circle{
                
                height: 55px;
                width: 55px;
               }
               .boxx .circle p{
                color: white;
                font-size: 20px;
                font-weight: 500;
               
              }

              /* email area....... */
              .mailss{
                display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              padding: 50px 10px;
              gap: 20px;
              }
              .mailss .mail-span{
              font-weight: 500;
              font-size: 20px;
              line-height: 40px;
              text-align: center;
              color: white;
              padding: 0;
              
              }
              .mailss a{
                background: #FB7E00;
                border-radius: 10px;
                padding: 16px 10px;
                text-decoration: none;
                color: #FFFFFF;
                width: 210px;
                height: 50px;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center; 
                     
              }
              .faq-section{
                display: none;
              }
              .foot-1 .img-foot img{
               width: 100px;
               height: 28px;
                }
            
                .close-foot .foot-1 .img-foot{
                  align-items: left;
                  gap: 10px;
                }
                .foot-1 p{
                 
                  font-weight: 100;
                  font-size: 15px;
                  line-height: 30px;
                  color: #000000;
                  padding: 10px 0;
                  }
                 
              
        
  }
  @media only screen and (max-width: 350px){
    .ml-left{
        margin-left: 5rem;
     }
  }
  @media screen and (min-width: 481px) and (max-width: 1200px){

    .hero-center{
      width:100%;
      padding: 80px 10px;
      text-align: center;
      align-items: center;
      gap: 20px;
  }
  .hero-center h2{
    font-size: 20px;
    line-height: 30px;
   
  }
  .hero-h2 p{
    
    font-size: 15px;
    line-height: 28px;
    
    }
    .close-foot{
        display: flex;
        padding: 40px;
        gap: 40px;
       
    }
    .close-foot .foot-2{
        display: flex;
        gap: 20px;
    }
    .nav-sec{
        flex: 2;
        display: flex;
        gap: 15px;
        padding: auto 20px;
    }
    .nav-sec a{
        margin-left: 0;
        text-decoration: none;
        color: white;
        
    }
    .vision{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 60px 0;
        gap: 30px;
        padding: 10px;
       
    }
    .text-vision{
    flex: 1;
    padding: 10px;
    }
    .text-vision h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #333333;
    }
    .text-vision p{
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    color: #333333;
    }
    .text-vision a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #701D9D;
    }
    .img-about img{
        width: 400px;
        height: 350px;
        }
        .img-vision img{
            width: 100%;
            height: 567px;
            }
  
            /* START FAQ AREA................ */
            .faq{
               
                padding: 50px 10px;
            }
           
        
  }