
/* START AFTER NAVBAR................ */

.after-nav-koks{
    background-image: url("../image/home/navBackground.png")  ;
   width: 100%;
   height: 100vh;
    background-position: center center;
    background-size: cover;
    padding: 20px 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.after-nav-koks h2{
font-weight: 700;
font-size: 50px;
line-height: 60px;
text-align: center;
color: #FFFFFF;
}
.after-nav-koks p{
    font-weight: 300;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
margin: 50px 0;
}
/* END AFTER NAVBAR................ */

/* web-ad */
.website-ad{
    padding: 50px;                      
}
.web-ad{
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.web-ad span{
    flex: 1;
    font-weight: 600;
    font-size: 30px;
    line-height: 55px;
    color: #000000;
}
.web-ad p{
    flex: 1;
    font-weight: 500;
font-size: 18px;
line-height: 35px;
color: #000000;
}
.ad-img img{
    width: 100%;
    height: 100%;
}

/* AD BOXES....... */
.ad-box{
    display: flex;
    gap: 30px;
    margin: 50px 20px;
}
.ad-boxes{
    padding: 20px 100px;
}
.box{
    padding: 20px 30px;
    width: 100%;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    flex: 1;
}
.box span{
font-weight: 600;
font-size: 25px;
line-height: 70px;
color: #701D9D;
}
.box p{
    font-weight: 300;
font-size: 15px;
line-height: 35px;
color: #16061F;
}

/* start mail................ */

.mail-section{
    background: #701D9D;
    padding: 10px 10px;
}
.mail{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 100px;
  gap: 30px;
}
.mail span{
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: white;
    padding: 10px 50px;

}
.mail a{
    background: #FB7E00;
    border-radius: 10px;
    padding: 15px 20px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    width: 220px;
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;         
}
.mail a:hover{
    background: white;
    color: #701D9D;
    border-bottom: 5px solid wheat;    
    font-weight: 600;
  }

/* END MAIL AREA............. */
@media only screen and (max-width: 450px){

    .after-nav-koks{
        background-image: url("../image/home/navBackground.png")  ;
       width: 100%;
       height: 100vh;
        background-position: center center;
        background-size: cover;
        padding: 100px 20px;
        padding-top: 150px;
        display: flex;
        justify-content: left;
        flex-direction: column;
      
    }
    
    .after-nav-koks h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    color: #FFFFFF;
    }
    .after-nav-koks p{
        font-weight: 200;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
    margin: 20px 0;
    }
    .website-ad{
        padding: 10px;                      
    }
    .web-ad{
        flex-direction: column;
    }
    .web-ad span{
        
        font-weight: 600;
        font-size: 25px;
        line-height: 50px;
    }
    .web-ad p{
    font-size: 17px;
    line-height: 35px;
    color: #000000;
    }
    .ad-boxes{
        padding: 20px 10px;
    }
    .ad-box{
        flex-direction: column;
        gap: 10px;
        margin: 15px 10px;
      
    }
    .box{
        padding: 20px 15px;
        width: 100%;
        height: 100%;
    }
    .box span{
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    
    }
    .box p{
       
    font-size: 15px;
    line-height: 30px;
    
    }    
    .mail-section .mail span{
        font-weight: 200;
        font-size: 18px;
        line-height: 40px;
        padding: 0;
        
        }
        .mail-section .mail{
            padding: 10px;
        }
}

@media screen and (min-width: 768px) and (max-width: 1100px){
    /* PRINTONG SECTION */
.print-contentt{
   
    height: 100%;
}

/* END PRINTONG SECTION */
.after-nav-kok{
 
    padding: 20px 50px;

}
.ad-boxes{
    padding: 20px 30px;
}
.ad-boxes br{
    display: none;
}
.box{
   
    height: 450px;
}
}